[submodule "modules/kyuureki"]
	path = modules/kyuureki
	url = git://github.com/wakaba/perl-kyuureki
[submodule "modules/web-datetime"]
	path = modules/web-datetime
	url = git://github.com/manakai/perl-web-datetime
